text{
    font-family: sans-serif;
}

.st0 {
    fill: url(#mercurio);
}

.st1 {
    fill: url(#off);
}

.st2 {
    fill: white;
}

.st3 {
    font-family: sans-serif;
}

.st4 {
    font-size: 30em;
}