<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#E6E6E6;}
	.st1{fill:#CCCCCC;}
	.st2{fill:none;stroke:#000000;stroke-miterlimit:10;}
	.st3{fill:#4D4D4D;stroke:#000000;stroke-miterlimit:10;}
	.st4{fill:#2AB9CD;}
	.st5{fill:#0098B4;}
	.st6{fill:#FFFFFF;}
</style>
<defs>
    <linearGradient id="deploy" class="deploy" x1="0" y1="0" x2="0" y2="100%">
        <stop id="stop1" offset="0%" stop-color="#2AB9CD" stop-opacity="0.8"/>
        <stop id="stop2" offset="0%" stop-color="transparent" stop-opacity="0"/>
    </linearGradient>
</defs>
<g>
	<rect x="550.5" y="20.5" class="st0" width="819" height="1039"/>
	<path d="M1369,21v1038H551V21H1369 M1370,20H550v1040h820V20L1370,20z"/>
</g>
<g>
	<rect x="600.5" y="70.5" class="st1" width="719" height="939"/>
	<path d="M1319,71v938H601V71H1319 M1320,70H600v940h720V70L1320,70z"/>
</g>
<g>
	<line class="st2" x1="549.5" y1="20.5" x2="599.5" y2="70.5"/>
</g>
<line class="st2" x1="1369.5" y1="20.5" x2="1319.5" y2="70.5"/>
<line class="st2" x1="549.5" y1="1060.5" x2="599.5" y2="1010.5"/>
<line class="st2" x1="1370.5" y1="1059.5" x2="1319.5" y2="1010.5"/>
<ellipse class="st3" cx="608" cy="94" rx="7.5" ry="16.5"/>
<ellipse class="st3" cx="1312" cy="94" rx="7.5" ry="16.5"/>
<rect x="607" y="77.5" class="st4" width="704" height="33.5"/>
<rect x="607" y="78" class="st5" width="704" height="5"/>
<rect x="616" y="791" class="st6" width="160" height="202"/>
<rect x="791" y="791" class="st6" width="160" height="202"/>
<rect x="967" y="791" class="st6" width="160" height="202"/>
<rect x="1144" y="791" class="st6" width="160" height="202"/>
<rect x="616" y="569" class="st6" width="160" height="202"/>
<rect x="791" y="569" class="st6" width="160" height="202"/>
<rect x="967" y="569" class="st6" width="160" height="202"/>
<rect x="1144" y="569" class="st6" width="160" height="202"/>
<rect x="616" y="347" class="st6" width="160" height="202"/>
<rect x="791" y="347" class="st6" width="160" height="202"/>
<rect x="967" y="347" class="st6" width="160" height="202"/>
<rect x="1144" y="347" class="st6" width="160" height="202"/>
<rect x="616" y="125" class="st6" width="160" height="202"/>
<rect x="791" y="125" class="st6" width="160" height="202"/>
<rect x="967" y="125" class="st6" width="160" height="202"/>
<rect x="1144" y="125" class="st6" width="160" height="202"/>
<rect id="Louver" class="Louver" x="608" y="111" width="704" height="893">
</rect>
</svg>