.st0{
    fill:red;
    animation: alarmActivated 0.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.st1{
    fill: #666666;
}

.off{
    fill: none;
}

.alarmOff{
    fill: tomato;
}

@keyframes alarmActivated {
    from { fill:red; }
    to { fill:tomato; }
}